<div>
    <div id="messageArea"></div>
    <h1>About Us!</h1>
    <p>Hi there! We are Auriana Hayles ans Shruti Patel, and we are web developers. We have always been interested in technology and programming.</p>

    <h2>Our Skills</h2>
    <p>As web developers, we have experience with a variety of programming languages and frameworks, including:</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Express</li>
    </ul>
</div>
