
<div>
    <h1>Products</h1>
    <div id="messageArea"></div>
    <h2>My products</h2>
    <p>Here are a few products we've worked on:</p>
    <ul>
        <li><a href="#">Assignment 1</a></li>
        <li><a href="#">Assignment 2</a></li>
        <li><a href="#">Assignment 3</a></li>
    </ul>
</div>
